.menu-bg-container{
    background: url(http://localhost/capstone3/images/interace-bg/menu-title.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

.menu-img-play-settings-container{
    height: 100vh;
}

.menu-logo-play-settings-container{
    height: 100vh;
}

.menu-image-container{
    img{
        width: 240px;
    }
}
