// Header
.ney-header{ // Header
    top: 0;
    position: fixed;
    width: 100%;
}

// Nav
.ney-nav{ // Navigator links
    padding: 10px 20px;
}

// .ney-nav-links-a{
//     a{
//         margin: 0rem 1rem;
//     }

//     a:hover{
//         border-bottom: 3px solid $blue;
//         color: $white;
//     }
// }

// .ney-nav-active{
//     border-bottom: 3px solid $blue !important;
// }
