.ney-margin-center{
    margin: auto auto;
}


// ======================================== //
//              Margin Top                  //
// ======================================== //
.ney-margin-t-0 {
    margin-top: 0 !important;
}

.ney-margin-t-4{ // 4px
    margin-top: 0.25rem;
}

.ney-margin-t-8{ // 8px
    margin-top: 0.5rem;
}

.ney-margin-t-16{ // 16px
    margin-top: 1rem;
}

.ney-margin-t-24{ // 24px
    margin-top: 1.5rem;
}

.ney-margin-t-48{ // 48px
    margin-top: 3rem;
}

// ======================================== //
//              Margin Right                //
// ======================================== //
.ney-margin-r-0 {
    margin-right: 0 !important;
}

.ney-margin-r-4{ // 4px
    margin-right: 0.25rem;
}

.ney-margin-r-8{ // 8px
    margin-right: 0.5rem;
}

.ney-margin-r-16{ // 16px
    margin-right: 1rem;
}

.ney-margin-r-24{ // 24px
    margin-right: 1.5rem;
}

.ney-margin-r-48{ // 48px
    margin-right: 3rem;
}

// ======================================== //
//              Margin Bottom               //
// ======================================== //
.ney-margin-b-0 {
    margin-bottom: 0;
}

.ney-margin-b-4{ // 4px
    margin-bottom: 0.25rem;
}

.ney-margin-b-8{ // 8px
    margin-bottom: 0.5rem;
}

.ney-margin-b-16{ // 16px
    margin-bottom: 1rem;
}

.ney-margin-b-24{ // 24px
    margin-bottom: 1.5rem;
}

.ney-margin-b-48{ // 48px
    margin-bottom: 3rem;
}

// ======================================== //
//              Margin Left                 //
// ======================================== //
.ney-margin-l-0 {
    margin-left: 0 !important;
}

.ney-margin-l-4{ // 4px
    margin-left: 0.25rem;
}

.ney-margin-l-8{ // 8px
    margin-left: 0.5rem;
}

.ney-margin-l-16{ // 16px
    margin-left: 1rem;
}

.ney-margin-l-24{ // 24px
    margin-left: 1.5rem;
}

.ney-margin-l-48{ // 48px
    margin-left: 3rem;
}

// ======================================== //
//      Margin COMBO TOP - BOTTOM           //
// ======================================== //
.ney-margin-tb-0{ // 0px
    margin: 0;
}

.ney-margin-tb-4{ // 4px
    margin: 0.25rem 0rem;
}

.ney-margin-tb-8{ // 8px
    margin: 0.5rem 0rem;
}

.ney-margin-tb-16{ // 16px
    margin: 1rem 0rem;
}

.ney-margin-tb-24{ // 24px
    margin: 1.5rem 0rem;
}

.ney-margin-tb-48{ // 48px
    margin: 3rem 0rem;
}

// ======================================== //
//      Margin COMBO LEFT - RIGHT           //
// ======================================== //
.ney-margin-lr-0{ // 0px
    margin: 0;
}

.ney-margin-lr-4{ // 4px
    margin: 0rem 0.25rem;
}

.ney-margin-lr-8{ // 8px
    margin: 0rem 0.5rem;
}

.ney-margin-lr-16{ // 16px
    margin: 0rem 1rem;
}

.ney-margin-lr-24{ // 24px
    margin: 0rem 1.5rem;
}

.ney-margin-lr-48{ // 48px
    margin: 0rem 3rem;
}

// ======================================== //
//      margin COMBO All           //
// ======================================== //
.ney-margin-a-0{ // 0px
    margin: 0;
}

.ney-margin-a-4{ // 4px
    margin: 0.25rem;
}

.ney-margin-a-8{ // 8px
    margin: 0.5;
}

.ney-margin-a-6{ // 16px
    margin: 1rem;
}

.ney-margin-a-24{ // 24px
    margin: 1.5rem;
}

.ney-margin-a-48{ // 48px
    margin: 3rem;
}