/* Padding Top Content*/
.ney-content-space-padding-t-0{ // 0px
    padding-top: 0px;
}

.ney-content-space-padding-t-48{ // 48px
    padding-top: 3rem;
}

.ney-content-space-padding-t-80{ // 80px
    padding-top: 5rem;
}

.ney-content-space-padding-t-120{ // 120px
    padding-top: 7.5rem;
}

.ney-content-space-padding-t-160{ // 160px
    padding-top: 10rem;
}

.ney-content-space-padding-t-200{ // 200px
    padding-top: 12.5rem;
}

/* Padding Bottom Content*/
.ney-content-space-padding-b-0{ // 0px
    padding-bottom: 0px;
}

.ney-content-space-padding-b-48{ // 48px
    padding-bottom: 3rem;
}

.ney-content-space-padding-b-80{ // 80px
    padding-bottom: 5rem;
}

.ney-content-space-padding-b-120{ // 120px
    padding-bottom: 7.5rem;
}

.ney-content-space-padding-b-160{ // 160px
    padding-bottom: 10rem;
}

.ney-content-space-padding-b-200{ // 200px
    padding-bottom: 12.5rem;
}

/* Padding Top and Bottom Content*/
.ney-content-space-padding-tb-0{ // 0px
    padding: 0rem;
}

.ney-content-space-padding-tb-48{ // 48px
    padding: 3rem  0rem;
}

.ney-content-space-padding-tb-80{ // 80px
    padding: 5rem 0rem;
}

.ney-content-space-padding-tb-120{ // 120px
    padding: 7.5rem 0rem;
}

.ney-content-space-padding-tb-160{ // 160px
    padding: 10rem 0rem;
}

.ney-content-space-padding-tb-200{ // 200px
    padding: 12.5rem 0rem;
}



/* Margin Top Content*/
.ney-content-space-margin-t-0{ // 0px
    margin-top: 0px;
}

.ney-content-space-margin-t-48{ // 48px
   margin-top: 3rem;
}

.ney-content-space-margin-t-80{ // 80px
   margin-top: 5rem;
}

.ney-content-space-margin-t-120{ // 120px
    margin-top: 7.5rem;
}

.ney-content-space-margin-t-160{ // 160px
    margin-top: 10rem;
}

.ney-content-space-margin-t-200{ // 200px
    margin-top: 12.5rem;
}


/* Padding Bottom Content*/
.ney-content-space-margin--b-0{ // 0px
    margin-bottom: 0px;
}

.ney-content-space-margin--b-48{ // 48px
    margin-bottom: 3rem;
}

.ney-content-space-m-b-80{ // 80px
    margin-bottom: 5rem;
}

.ney-content-space-margin--b-120{ // 120px
    margin-bottom: 7.5rem;
}

.ney-content-space-margin--b-160{ // 160px
    margin-bottom: 10rem;
}

.ney-content-space-margin--b-200{ // 200px
   margin-bottom: 12.5rem;
}

