.ney-text-size-tiny{
    font-size:10px !important;
}

.ney-text-size-small{
    font-size:12px !important;
}

.ney-text-size-medium{
    font-size:15px !important;
}

.ney-text-size-large{
    font-size:18px !important;
}

.ney-text-size-xlarge{
    font-size:24px !important;
}

.ney-text-size-xxlarge{
    font-size:36px !important;
}

.ney-text-size-xxxlarge{
    font-size:48px !important;
}

.ney-text-size-jumbo{
    font-size:64px !important;
}