// Z Index
.ney-z-index-1{
    z-index: 1 !important;
}

.ney-z-index-2{
    z-index: 2 !important;
}

.ney-z-index-3{
    z-index: 3 !important;
}

.ney-z-index-4{
    z-index: 4 !important;
}

.ney-z-index-5{
    z-index: 5 !important;
}

.ney-z-index-6{
    z-index: 6 !important;
}