.ney-position-fixed{
    position: fixed;
}

.ney-position-absolute{
    position: absolute;
}

.ney-position-sticky{
    position: sticky;
    position: -webkit-sticky;
}

.ney-position-relative{
    position: relative;
}

