// Colors
$ney-black:hsl(0, 0%, 0%);
$ney-orange: hsl(22, 63%, 54%); 
$ney-white: hsl(0, 0%, 100%);
$ney-green:hsl(132, 100%, 50%);
$ney-red:hsl(0, 100%, 50%);
$ney-brown: #87500B;

// Font Size
$ney-font-sm: 0.875rem; // 14px
$ney-font-medium: 1.125rem; // 18px
